<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/partials/header.css">

<header class="header-container">
    <div class="logotipo">
        <h1>
            PROJECT<strong>MIND</strong>
        </h1>
    </div>

</header>