@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.header-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #B20600;
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logotipo {
    margin: 1rem;
    padding: 1px;
}

.logotipo h1 {
    font-size: 1.2rem;
    color: #00092C;
}