<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/cadastro.css">

<body>
    <main class="main">
        <section class="cadastre-se">
            <form action="/cadastrar" method="POST" class="formulario">
                <h1>
                    Cadastre-se
                </h1>
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Insira seu nome">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Insira seu e-mail">
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Insira uma senha">
                </div>
                <button type="submit" class="btn btn-success">Finalizar cadastro</button>
            </form>
        </section>
    </main>
</body>

</html>