<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/login.css">

<body>
    <%- include('../partials/header') %>
    
    <main class="main">
        <section class="login">
            <form action="/login" method="POST" class="formulario">
                <h3>
                    LOGIN
                </h3>
                <br>
                <div>
                    <label for="email">EMAIL</label>
                    <br>
                    <input type="email" name="email">
                </div>
                <div>
                    <label for="senha">SENHA</label>
                    <br>
                    <input type="password" name="senha" placeholder="">
                </div>
                <br>
                <button type="submit" class="btn btn-success">Entrar</button>
            </form>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>